@import './vars';

.width100 {
  width: 100px;
}

.fontWhite {
  color: $white1;
}

.fontBlack {
  color: $gray1;
}

.bgYellow {
  background-color: $yellow1;
}

.pad8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.radius15 {
  border-radius: 15px;
}
